<component name="ArtifactManager">
  <artifact type="exploded-war" name="mybatis-06:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatis_06_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="mybatis-06/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="mybatis-06" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.5.7" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.25" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:3.11.4" />
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: com.oracle:ojdbc14:10.2.0.4.0" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.30" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-log4j12:1.7.21" />
          <element id="library" level="project" name="Maven: net.sf.ehcache:ehcache-core:2.6.11" />
        </element>
      </element>
    </root>
  </artifact>
</component>